# Pipeline
INTERVAL=1h
LIMIT=4
ROUNDS=5

# OHLCV
BINANCE_BASE_URL=https://api.binance.com/api/v3/klines

# Tweet
TWEET_API_KEY=tweet_api_key # free api key https://twitterapi.io
TWEET_BASE_URL=https://api.twitterapi.io/twitter/tweet/advanced_search
ACCOUNTS=TedPillows,CoinDesk,Cointelegraph,WatcherGuru,BitcoinMagazine
QUERY="BTC OR Bitcoin OR #BTC OR #Bitcoin"

# Seed
TWEET_LIMIT=5
